* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a {
  text-decoration: none;
}
input,
textarea,
div {
  outline: none;
  border: none;
  background: none;
  resize: none;
}
div[contenteditable]:empty:before {
  content: attr(placeholder);
}
div[contenteditable]:focus {
  content: none;
}
.img-fit {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inherit;
}
.smooth,
body,
body div.page,
body div.index-box div.index-box__item-box {
  transition: 0.5s;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
}
body div.page {
  position: absolute;
  width: 100%;
  height: 100%;
}
body div.page.active {
  left: 0;
}
body div.page.main-page.inactive {
  left: -100vw;
}
body div.page.detail-page.inactive {
  left: 100vw;
}
body div.header,
body div.footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
body div.header div.header__text,
body div.header div.header__btn,
body div.footer div.footer__text,
body div.footer div.footer__middle div.footer__middle__text,
body div.footer div.footer__btn {
  font-size: 16px;
  font-weight: bold;
}
body div.header div.header__avatar {
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
body div.header div.header__btn,
body div.footer div.footer__btn {
  cursor: pointer;
}
body div.header div.header__left,
body div.header div.header__right,
body div.footer div.footer__right {
  position: absolute;
  height: 50px;
  left: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
body div.header div.header__right,
body div.footer div.footer__right {
  left: unset;
  right: 0;
}
body div.header div.header__middle,
body div.footer div.footer__middle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
body div.footer {
  top: unset;
  bottom: 0;
  height: 40px;
}
body div.footer div.footer__btn [class^="icon-"],
body div.footer div.footer__btn [class*=" icon-"] {
  font-size: 24px;
  font-weight: bold;
}
body div.footer div.footer__middle {
  height: 40px;
}
body div.footer div.footer__middle div.footer__middle__text {
  font-size: 12px;
  font-weight: normal;
}
body div.footer div.footer__right {
  height: 40px;
}
body div.write-box {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  left: 0;
  top: 50px;
  padding: 0 20px 20px;
}
body div.write-box div.write-box__title {
  font-size: 20px;
  font-weight: bold;
  overflow-y: scroll;
  height: 30px;
}
body div.write-box div.write-box__content {
  margin-top: 10px;
  font-size: 16px;
  height: calc(100% - 30px - 10px);
  overflow-y: scroll;
}
body div.write-box div.write-box__time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
}
body div.index-box {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px - 40px);
  left: 0;
  top: 50px;
  padding-left: 30px;
  overflow-y: scroll;
}
body div.index-box a:first-child div.index-box__item-box {
  border-top-width: 1px;
  border-top-style: solid;
}
body div.index-box div.index-box__item-box {
  position: relative;
  height: 55px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
body div.index-box div.index-box__item-box div.index-box__title {
  font-size: 15px;
  font-weight: bold;
  padding-top: 7px;
  max-width: calc(100% - 10px);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body div.index-box div.index-box__item-box div.index-box__time {
  font-size: 13px;
}
body div.center-box {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
body div.center-box div.loading-box {
  align-items: center;
  display: flex;
  justify-content: center;
}
body div.center-box div.loading-box .spinner {
  align-items: center;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top-width: 5px;
  border-right-width: 5px;
  border-top-style: solid;
  border-right-style: solid;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body div.center-box div.loading-box .spinnerMax {
  animation: spinner 3s linear infinite;
  height: 60px;
  width: 60px;
}
body div.center-box div.loading-box .spinnerMid {
  animation: spinner 5s linear infinite;
  height: 50px;
  width: 50px;
}
body div.center-box div.loading-box .spinnerMin {
  animation: spinner 5s linear infinite;
  height: 40px;
  width: 40px;
}
body div.center-box div.center-box__center-item {
  font-size: 5vw;
  margin-left: 20px;
}
body.day {
  background-color: #f8f8f8;
}
body.day div.header div.header__text,
body.day div.footer div.footer__text {
  color: #000000;
  text-shadow: 0 0 3px #cccccc;
}
body.day div.header div.header__btn,
body.day div.footer div.footer__btn {
  color: #eeaa33;
}
body.day div.write-box div.write-box__title {
  color: #444444;
}
body.day div.write-box div.write-box__title:empty:before {
  color: #666666;
}
body.day div.write-box div.write-box__content {
  color: #484848;
}
body.day div.write-box div.write-box__time {
  color: #666666;
}
body.day div.index-box div.index-box__title {
  color: #333333;
  text-shadow: 0 0 3px #cccccc;
}
body.day div.index-box div.index-box__time {
  color: #999999;
}
body.day div.index-box div.index-box__item-box {
  border-top-color: #dddddd;
  border-bottom-color: #dddddd;
}
body.day div.center-box div.center-box__center-item {
  color: #000000;
  text-shadow: 0 0 3px #cccccc;
}
body.day div.center-box div.loading-box div.spinner {
  border-top-color: #000000;
  border-right-color: #000000;
}
body.night {
  background-color: #222222;
}
body.night div.header div.header__text,
body.night div.footer div.footer__text {
  color: #ffffff;
  text-shadow: 0 0 3px #444444;
}
body.night div.header div.header__btn,
body.night div.footer div.footer__btn {
  color: #eeaa33;
}
body.night div.write-box div.write-box__title {
  color: #eeeeee;
}
body.night div.write-box div.write-box__title:empty:before {
  color: #cccccc;
}
body.night div.write-box div.write-box__content {
  color: #dddddd;
}
body.night div.write-box div.write-box__time {
  color: #cccccc;
}
body.night div.index-box div.index-box__title {
  color: #ffffff;
  text-shadow: 0 0 3px #444444;
}
body.night div.index-box div.index-box__time {
  color: #999999;
}
body.night div.index-box div.index-box__item-box {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
body.night div.center-box div.center-box__center-item {
  color: #ffffff;
  text-shadow: 0 0 3px #444444;
}
body.night div.center-box div.loading-box div.spinner {
  border-top-color: #000000;
  border-right-color: #000000;
}
@media all and (orientation: landscape) {
  div.page.main-page {
    width: 38.2%;
    left: 0!important;
  }
  div.page.detail-page {
    width: calc(100% - 38.2%);
    left: 38.2% !important;
  }
  div.header div.header__btn {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */