{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="zh-CN">
    <meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <title>投明</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "css/font.css" %}"/>
{#    <link rel="stylesheet" href="{% static "css/flaticon-line.css" %}"/>#}

    <script src="{% static "js/store.js" %}"></script>
    <script src="{% static "js/time.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/request.js" %}"></script>
</head>
<body class="day">
{% block main %}
{% endblock %}
</body>
</html>
