{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
    <script src="{% static "js/index.js" %}"></script>

    <div class="header">
        <div class="header__middle">
            <div class="header__text">投明</div>
        </div>
{#        <div class="header__right">#}
{#            <a href="{% url 'write-poem' %}"><div class="header__btn">发布</div></a>#}
{#        </div>#}
    </div>

    <div class="index-box" id="index-box"></div>

    <div class="footer">
        <div class="footer__middle">
            <div class="footer__middle__text"><span id="poem-count"></span>篇弃了暗</div>
        </div>
        <div class="footer__right">
            <a href="{% url 'write-poem' %}">
                <div class="footer__btn"><span class="icon-ios-compose-outline"></span></div>
            </a>
        </div>
    </div>

     <script>
        let indexComponent = new IndexComponent({
            indexBoxId: 'index-box',
            poemCountId: 'poem-count',
        });
     </script>
{% endblock %}