{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
    <script src="{% static "js/writer.js" %}"></script>

    <div class="header">
        <div class="header__left">
            <a href="/"><div class="header__btn">返回</div></a>
        </div>
        <div class="header__right">
            <div class="header__btn" id="publish">完成</div>
        </div>
    </div>
    <div class="write-box">
        <div class="write-box__title" contenteditable="true" id="title"></div>
        <div class="write-box__content" contenteditable="true" id="content"></div>
    </div>

    <script>
        let poemId = '{{ poem_id }}';

        let params = {
            titleId: 'title',
            contentId: 'content',
            {#cancelId: 'cancel',#}
            publishId: 'publish',
        };

        if (poemId !== '') {
            params.readOnly = true;
            params.poemId = poemId;
        }

        let writerComponent = new WriterComponent(params);
    </script>
{% endblock %}